certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
h3==4.2.2
idna==3.10
iniconfig==2.1.0
numpy==2.2.6
packaging==25.0
pip-licenses==5.0.0
pluggy==1.6.0
prettytable==3.16.0
pycparser==2.22
Pygments==2.19.2
pytest==8.4.1
python-dotenv==1.0.0
pytz==2023.3
requests==2.31.0
timezonefinder==6.5.9
tomli==2.2.1
urllib3==2.4.0
wcwidth==0.2.13
